body {
    margin: 0;
    padding: 0;
    background: #111;
    /* overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 100dvh;
}

#canvasHolder {
    background-color: green;
    height: 50%;
}

#littleFable {
    font-size: 2rem;
    color: white;
    height: 50%;
    display: flex;
    align-items: flex-center;
}