body {
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvasHolder {
    background-color: green;
    height: 40%;
    width: 100%;
    position: relative;
}

#littleFable {
    font-size: 1.3rem;
    font-family: "Noto Serif", serif;
    height: 30%;
    display: flex;
    align-items: flex-center;
    padding: 1rem;
}

header {
    font-family: "Noto Serif", serif;
    text-align: center;
}

main {  /* Hack - should actually figure out how to prevent p5 from making its own main*/
    display: none;
}

#realMain {
    max-width: 600px;
    height: 100%;
    flex-grow: 1;
    display: block;
}

header {
    position: relative;
}

#rat { /* Need to position this better - overlaps title on mobile */
    position: absolute;
    bottom: -20px;
    right: 10px;
    height: 120%;
}

#inactiveText {
    color: #6f6f6f;
}

span {
    display: inline;
}